{% extends 'home.html'%}
{% block content%}
<br>
<br>
<br>
<br>
<br>

<p style="font-size:30px;">While (noSucess):<br>
        TryAgain( )<br>
    if (Dead):<br>
                break</p>
<br>
<br>
<br>


<p style="border-bottom: 1px solid white; margin:30px;"></p>
<p style="margin:30px;font-size:18px;text-align:center;">Whether you want to uncover the secrets of the universe ,
    or you want to pursue the career in 21st century basic computer programming is essential skill
    to learn. Pyhton is an experiment in how much freedom programmers need. Programming is a extremly
    creative based proffesion. So start coding, practise Python, explore the world with logic!!!
</p>

{% endblock%}